<button ngfSelect [(file)]="files" accept="image/*" multiple="1">
  Tap to Select
</button>

<div [ngfBackground]="files"
  style="background-size:cover;background-repeat:no-repeat;width:50px;height:50px"
></div>

<div ngfDrop 
  [(validDrag)]    = "baseDropValid"
  (fileOver)       = "hasBaseDropZoneOver=$event"
  [(files)]        = "files"
  [accept]         = "accept"
  [maxSize]        = "maxSize"
  [(dragFiles)]    = "dragFiles"
  [(lastInvalids)] = "lastInvalids"
  class            = "well my-drop-zone"
  [class.invalid-drag] = "baseDropValid===false"
  [class.valid-drag]   = "baseDropValid"
  (filesChange) = "lastFileAt=getDate()"
>
  Combo drop/select zone
</div>

<div *ngIf="uploadPercent">
  Upload Progress: {{ uploadPercent }}%
</div>